/* Var */

:root {
  --blue: #0b5ed7;
  --default-transition-duration: 0.5s;
}

/* General */

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  font-family: Helvetica, sans-serif;
}

nav .navbar-nav li a {
  color: black !important;
  transition: opacity var(--default-transition-duration);
}

nav .navbar-nav li a:hover {
  opacity: 0.7 !important;
}

nav .navbar-nav .btn {
  transition: opacity var(--default-transition-duration);
}

nav .navbar-nav .btn:hover {
  opacity: 0.8;
}

main {
  margin-top: 7rem;
}

footer {
  background-color: #00439c;
}

footer ul li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

footer ul {
  margin-bottom: 0;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

/* Classes */

.my-btn {
  border-radius: 3rem;
}

.my-icon {
  height: 1.5rem;
  transition: opacity var(--default-transition-duration);
}

.my-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}

.my-chevron {
  height: 0.7rem;
  margin-left: 0.2rem;
}

.my-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.my-banner img.logo {
  width: 50%;
}

.my-banner img.big-logo {
  height: 15rem;
}

.my-banner .my-btn {
  color: white;
  background-color: #cd3d0f;
}

.my-bg {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
}

/* ID */

#jumbo {
  height: 35rem;
  background-image: url("../img/jumbo-bg.png");
}

#banner {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

#header-top {
  background-color: black;
}

#header-top img {
  height: 1rem;
}

#header-bottom {
  background-color: white;
}

#suggested img {
  border-radius: 15px;
  transition: all var(--default-transition-duration);
}

#suggested img:hover {
  outline: 3px solid var(--blue);
  padding: 2px;
  transform: translateY(-8px);
  opacity: 0.8;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#playstation5 span {
  color: var(--blue);
  text-transform: uppercase;
  font-weight: bold;
}

#accessories div {
  opacity: 0.6;
}

#accessories div.active {
  opacity: 1;
  border-bottom: 2px solid var(--blue);
}

#accessories img {
  width: 60%;
}

#new-releases {
  background-color: #1f1f1f;
}

#ps-plus {
  background-color: #bebcbb;
}

#ps-plus .btn {
  color: var(--blue);
  background-color: #d9dadc;
}

#ps-plus div#ps-plus-background {
  background-image: url("../img/ps-plus-april-monthly-games-featured-image-block.png");
}

#ps-now {
  background-color: #161c3b;
}

#ps-now .btn {
  color: black;
  background-color: white;
}

#ps-now div#ps-now-background {
  background-image: url("../img/ps-now-april-featured-image-block.png");
}

#ps-plus img.logo,
#ps-now img.logo {
  height: 3.5rem;
}

#bottom-footer img {
  height: 50px;
}
