/* Var */

:root {
  --blue: #0b5ed7;
}

/* General */

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  font-family: Helvetica, sans-serif;
}

/* Classes */

.my-btn {
  border-radius: 3rem;
}

.my-icon {
  height: 1.5rem;
}

.my-chevron {
  height: 0.7rem;
  margin-left: 0.2rem;
}

/* ID */

#header-top {
  background-color: black;
}

#header-top img {
  height: 1rem;
}

#jumbotron {
  height: 40rem;
  background-image: url("../img/jumbo-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#jumbotron img {
  height: 2.5rem;
}

#jumbotron .my-btn {
  color: white;
  background-color: #cd3d0f;
}

#suggested img {
  border-radius: 15px;
}

#suggested img.active {
  outline: 3px solid var(--blue);
  padding: 2px;
}

#playstation5 span {
  color: var(--blue);
  text-transform: uppercase;
  font-weight: bold;
}

#accessories div {
  opacity: 0.6;
}

#accessories div.active {
  opacity: 1;
  border-bottom: 2px solid var(--blue);
}

#accessories img {
  width: 60%;
}
