/* General */

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  font-family: Helvetica, sans-serif;
}

/* Classes */

.my-btn {
  border-radius: 3rem;
}

.my-icon {
  height: 1.5rem;
}

.my-chevron {
  height: 0.7rem;
  margin-left: 0.2rem;
}

/* ID */

#header-top {
  background-color: black;
}

#header-top img {
  height: 1rem;
}

#jumbotron {
  height: 40rem;
  background-image: url("../img/jumbo-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#jumbotron img {
  height: 2.5rem;
}

#jumbotron .my-btn {
  color: white;
  background-color: #cd3d0f;
}
