/* Var */

:root {
  --blue: #0b5ed7;
}

/* General */

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  font-family: Helvetica, sans-serif;
}

/* Classes */

.my-btn {
  border-radius: 3rem;
}

.my-icon {
  height: 1.5rem;
}

.my-chevron {
  height: 0.7rem;
  margin-left: 0.2rem;
}

.jumbotron {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.my-bg {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.jumbotron img.small-logo {
  height: 2.5rem;
}

.jumbotron img.big-logo {
  height: 15rem;
}

.jumbotron .my-btn {
  color: white;
  background-color: #cd3d0f;
}

/* ID */

#jumbo-1 {
  height: 40rem;
  background-image: url("../img/jumbo-bg.png");
}

#jumbo-2 {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

#header-top {
  background-color: black;
}

#header-top img {
  height: 1rem;
}

#suggested img {
  border-radius: 15px;
}

#suggested img.active {
  outline: 3px solid var(--blue);
  padding: 2px;
}

#playstation5 span {
  color: var(--blue);
  text-transform: uppercase;
  font-weight: bold;
}

#accessories div {
  opacity: 0.6;
}

#accessories div.active {
  opacity: 1;
  border-bottom: 2px solid var(--blue);
}

#accessories img {
  width: 60%;
}

#new-releases {
  background-color: #1f1f1f;
}

#ps-plus {
  background-color: #bebcbb;
}

#ps-plus img.logo,
#ps-now img.logo {
  height: 3.5rem;
}

#ps-plus .btn {
  color: var(--blue);
  background-color: #d9dadc;
}

#ps-plus div#ps-plus-background {
  background-image: url("../img/ps-plus-april-monthly-games-featured-image-block.png");
}

#ps-now {
  background-color: #161c3b;
}

#ps-now .btn {
  color: black;
  background-color: white;
}

#ps-now div#ps-now-background {
  background-image: url("../img/ps-now-april-featured-image-block.png");
}

/* #social-media img {
  width: 100px;
} */
